In [31]:
import pandas as pd
from tqdm import tqdm

# 실제 종가 파일

In [32]:
end = pd.read_csv('20211101_05_end.csv')
end

,Day,005930,000660,035420,035720,207940,005935,051910,006400,005380,...,078020,102710,314130,035890,032620,220630,064260,287410,110790,099320
0,2021-11-01,69900,106500,408500,125500,874000,65200,832000,723000,208000,...,9030,28950,36600,1845,8050,4930,8970,7480,41600,50300
1,2021-11-02,71500,107500,410000,128000,874000,66200,831000,731000,210000,...,9060,29150,38000,1875,8090,4965,9050,7430,41650,49950
2,2021-11-03,70400,105500,402500,124500,874000,66200,784000,732000,208500,...,9040,29000,38650,1830,7900,4980,9080,7110,42000,48850
3,2021-11-04,70600,106000,411500,130000,865000,66600,790000,751000,214000,...,9020,28750,39750,1815,7870,4975,8100,6990,42100,47350
4,2021-11-05,70200,107000,410500,128500,864000,66300,786000,755000,215000,...,8940,28650,38400,1800,7670,5010,8480,6780,41850,45550

# 예측 파일(제출 파일)

In [33]:
pred = pd.read_csv('No_sub03_pycaret02_2.csv')

In [34]:
pred

,Day,000060,000080,000100,000120,000150,000240,000250,000270,000660,...,330860,336260,336370,347860,348150,348210,352820,357780,363280,950130
0,2021-11-01,43205.11,43205.11,43205.11,43205.11,43205.11,43205.11,43205.11,43205.11,43205.11,...,43205.11,43205.11,43205.11,43205.11,43205.11,43205.11,43205.11,43205.11,43205.11,43205.11
1,2021-11-02,43095.20,43095.20,43095.20,43095.20,43095.20,43095.20,43095.20,43095.20,43095.20,...,43095.20,43095.20,43095.20,43095.20,43095.20,43095.20,43095.20,43095.20,43095.20,43095.20
2,2021-11-03,43060.27,43060.27,43060.27,43060.27,43060.27,43060.27,43060.27,43060.27,43060.27,...,43060.27,43060.27,43060.27,43060.27,43060.27,43060.27,43060.27,43060.27,43060.27,43060.27
3,2021-11-04,43282.13,43282.13,43282.13,43282.13,43282.13,43282.13,43282.13,43282.13,43282.13,...,43282.13,43282.13,43282.13,43282.13,43282.13,43282.13,43282.13,43282.13,43282.13,43282.13
4,2021-11-05,42908.55,42908.55,42908.55,42908.55,42908.55,42908.55,42908.55,42908.55,42908.55,...,42908.55,42908.55,42908.55,42908.55,42908.55,42908.55,42908.55,42908.55,42908.55,42908.55
5,2021-11-29,88129.58,88129.58,88129.58,88129.58,88129.58,88129.58,88129.58,88129.58,88129.58,...,88129.58,88129.58,88129.58,88129.58,88129.58,88129.58,88129.58,88129.58,88129.58,88129.58
6,2021-11-30,89028.11,89028.11,89028.11,89028.11,89028.11,89028.11,89028.11,89028.11,89028.11,...,89028.11,89028.11,89028.11,89028.11,89028.11,89028.11,89028.11,89028.11,89028.11,89028.11
7,2021-12-01,88143.73,88143.73,88143.73,88143.73,88143.73,88143.73,88143.73,88143.73,88143.73,...,88143.73,88143.73,88143.73,88143.73,88143.73,88143.73,88143.73,88143.73,88143.73,88143.73
8,2021-12-02,88106.85,88106.85,88106.85,88106.85,88106.85,88106.85,88106.85,88106.85,88106.85,...,88106.85,88106.85,88106.85,88106.85,88106.85,88106.85,88106.85,88106.85,88106.85,88106.85
9,2021-12-03,88107.89,88107.89,88107.89,88107.89,88107.89,88107.89,88107.89,88107.89,88107.89,...,88107.89,88107.89,88107.89,88107.89,88107.89,88107.89,88107.89,88107.89,88107.89,88107.89

# 예측 셋 중 public 평가 셋 만 가져오기

In [35]:
pred1 = pred.loc[:4]
pred1

,Day,000060,000080,000100,000120,000150,000240,000250,000270,000660,...,330860,336260,336370,347860,348150,348210,352820,357780,363280,950130
0,2021-11-01,43205.11,43205.11,43205.11,43205.11,43205.11,43205.11,43205.11,43205.11,43205.11,...,43205.11,43205.11,43205.11,43205.11,43205.11,43205.11,43205.11,43205.11,43205.11,43205.11
1,2021-11-02,43095.20,43095.20,43095.20,43095.20,43095.20,43095.20,43095.20,43095.20,43095.20,...,43095.20,43095.20,43095.20,43095.20,43095.20,43095.20,43095.20,43095.20,43095.20,43095.20
2,2021-11-03,43060.27,43060.27,43060.27,43060.27,43060.27,43060.27,43060.27,43060.27,43060.27,...,43060.27,43060.27,43060.27,43060.27,43060.27,43060.27,43060.27,43060.27,43060.27,43060.27
3,2021-11-04,43282.13,43282.13,43282.13,43282.13,43282.13,43282.13,43282.13,43282.13,43282.13,...,43282.13,43282.13,43282.13,43282.13,43282.13,43282.13,43282.13,43282.13,43282.13,43282.13
4,2021-11-05,42908.55,42908.55,42908.55,42908.55,42908.55,42908.55,42908.55,42908.55,42908.55,...,42908.55,42908.55,42908.55,42908.55,42908.55,42908.55,42908.55,42908.55,42908.55,42908.55

# 평가지표 함수화

In [45]:
def evaluation_index(prediction_set, real_set):
    eval_set = pd.DataFrame(['MSE','RMSE','R2','NMAE','NMAE*100'], columns=['평가지표'])
    for code in tqdm(end.columns.values[1:]):
        one_eval_list = []
        real = real_set[code]
        pred = prediction_set[code]

        # MSE
        mse = ( (real - pred) ** 2 ).sum() / len(pred)
            
        # RMSE
        rmse = mse ** (1/2)
        
        # MAE
        mae = ( abs( real - pred ) ).sum() / len(pred)
        
        # R2
        real_mean = real.mean()
        upper = ( (real - pred) ** 2 ).sum()
        lower = ( (real - real_mean) ** 2 ).sum()
        if lower == 0:
            fraction = 0
        else:
            fraction = upper / lower
        r2 = 1 - fraction
        
        #NMAE(Normalized Mean Absolute Error)-정규화 평균 절대 오차 척도
        nmae = ( abs( real - pred ) / real ).sum() / len(pred)  
        
        # 평가지표 셋 만들기
        one_eval_list.append(mse)
        one_eval_list.append(rmse)
        one_eval_list.append(r2)
        one_eval_list.append(nmae)
        one_eval_list.append(nmae*100)
        eval_set[code] = one_eval_list

    # 평가지표 셋에서 전체 종목 평균 구하기
    eval_set['평가지표_평균'] = eval_set.mean(axis=1)

    # 평가지표 평균 출력
    print(eval_set[['평가지표', '평가지표_평균']])

    return eval_set

In [46]:
result = evaluation_index(pred1, end)

100%|██████████| 370/370 [00:01<00:00, 213.09it/s]

       평가지표      평가지표_평균
0       MSE  2.08402e+10
1      RMSE  6.68378e+04
2        R2 -2.59768e+05
3      NMAE  1.40855e+00
4  NMAE*100  1.40855e+02

In [47]:
result

,평가지표,005930,000660,035420,035720,207940,005935,051910,006400,005380,...,102710,314130,035890,032620,220630,064260,287410,110790,099320,평가지표_평균
0,MSE,7.51600e+08,4.01884e+09,1.33593e+11,7.09192e+09,6.84099e+11,5.28787e+08,5.80351e+11,4.83582e+11,2.82290e+10,...,2.01971e+08,2.43684e+07,1.70383e+09,1.23865e+09,1.45455e+09,1.18178e+09,1.29262e+09,1.66142e+06,3.08743e+07,2.08402e+10
1,RMSE,2.74153e+04,6.33943e+04,3.65504e+05,8.42135e+04,8.27103e+05,2.29954e+04,7.61808e+05,6.95401e+05,1.68015e+05,...,1.42117e+04,4.93644e+03,4.12774e+04,3.51945e+04,3.81385e+04,3.43770e+04,3.59530e+04,1.28896e+03,5.55647e+03,6.68378e+04
2,R2,-2.55895e+03,-8.03667e+03,-1.30452e+04,-1.74578e+03,-3.14374e+04,-2.35966e+03,-1.19255e+03,-3.15060e+03,-3.42485e+03,...,-6.31061e+03,-2.23727e+01,-2.55830e+06,-5.57339e+04,-2.18400e+06,-7.96546e+03,-1.84082e+04,-4.34231e+01,-8.99816e+00,-2.59768e+05
3,NMAE,3.88645e-01,5.95188e-01,8.94487e-01,6.61266e-01,9.50458e-01,3.47767e-01,9.46382e-01,9.41599e-01,7.95743e-01,...,4.91756e-01,1.26986e-01,2.25233e+01,4.44774e+00,7.67093e+00,3.94486e+00,5.03065e+00,3.03801e-02,1.08141e-01,1.40855e+00
4,NMAE*100,3.88645e+01,5.95188e+01,8.94487e+01,6.61266e+01,9.50458e+01,3.47767e+01,9.46382e+01,9.41599e+01,7.95743e+01,...,4.91756e+01,1.26986e+01,2.25233e+03,4.44774e+02,7.67093e+02,3.94486e+02,5.03065e+02,3.03801e+00,1.08141e+01,1.40855e+02