In [8]:
import pandas as pd
import numpy as np

In [9]:
stock = pd.read_csv('20210104-20211119_stock.csv')
stock.head()

,Date,exchange_rate,kospi,kosdaq,kospi100,dow,nasdaq,sp500,미국채10년-2년
0,2021-01-04,1086.48,2944.45,977.62,3052.74,30223.89,12698.4,3700.65,0.8009
1,2021-01-05,1086.42,2990.57,985.76,3099.42,30391.60,12819.0,3726.86,0.8320
2,2021-01-06,1087.93,2968.21,981.39,3070.05,30829.40,12740.8,3748.14,0.9002
3,2021-01-07,1094.28,3031.68,988.86,3139.48,31041.13,13067.5,3803.79,0.9402
4,2021-01-08,1092.93,3152.18,987.79,3293.96,31097.97,13202.0,3824.68,0.9821

In [10]:
stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           230 non-null    object
 1   exchange_rate  230 non-null    float64
 2   kospi          219 non-null    float64
 3   kosdaq         219 non-null    float64
 4   kospi100       219 non-null    float64
 5   dow            224 non-null    float64
 6   nasdaq         224 non-null    float64
 7   sp500          224 non-null    float64
 8   미국채10년-2년      230 non-null    float64
dtypes: float64(8), object(1)
memory usage: 16.3+ KB

In [13]:
gold = pd.read_csv('stock_data_21-11-22_dooho___.csv')
gold.head()

         Date         BTC   Gold   NASDAQ    Oil  US10Y    US2Y
0  2021-01-04  36499000.0  37.10  12698.4  32.38  0.918  0.1171
1  2021-01-05  37962000.0  37.18  12819.0  33.94  0.955  0.1230
2  2021-01-06  40731000.0  36.60  12740.8  34.11  1.039  0.1388
3  2021-01-07  44575000.0  36.48  13067.5  34.53  1.081  0.1408
4  2021-01-08  47241000.0  35.26  13202.0  35.43  1.119  0.1369

In [14]:
gold.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    230 non-null    object
 1   BTC     219 non-null    float64
 2   Gold    213 non-null    float64
 3   NASDAQ  213 non-null    float64
 4   Oil     213 non-null    float64
 5   US10Y   219 non-null    float64
 6   US2Y    219 non-null    float64
dtypes: float64(6), object(1)
memory usage: 12.7+ KB

In [15]:
data = pd.merge(stock, gold, on='Date')
data.head()

,Date,exchange_rate,kospi,kosdaq,kospi100,dow,nasdaq,sp500,미국채10년-2년,BTC,Gold,NASDAQ,Oil,US10Y,US2Y
0,2021-01-04,1086.48,2944.45,977.62,3052.74,30223.89,12698.4,3700.65,0.8009,36499000.0,37.10,12698.4,32.38,0.918,0.1171
1,2021-01-05,1086.42,2990.57,985.76,3099.42,30391.60,12819.0,3726.86,0.8320,37962000.0,37.18,12819.0,33.94,0.955,0.1230
2,2021-01-06,1087.93,2968.21,981.39,3070.05,30829.40,12740.8,3748.14,0.9002,40731000.0,36.60,12740.8,34.11,1.039,0.1388
3,2021-01-07,1094.28,3031.68,988.86,3139.48,31041.13,13067.5,3803.79,0.9402,44575000.0,36.48,13067.5,34.53,1.081,0.1408
4,2021-01-08,1092.93,3152.18,987.79,3293.96,31097.97,13202.0,3824.68,0.9821,47241000.0,35.26,13202.0,35.43,1.119,0.1369

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 230 entries, 0 to 229
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           230 non-null    object
 1   exchange_rate  230 non-null    float64
 2   kospi          219 non-null    float64
 3   kosdaq         219 non-null    float64
 4   kospi100       219 non-null    float64
 5   dow            224 non-null    float64
 6   nasdaq         224 non-null    float64
 7   sp500          224 non-null    float64
 8   미국채10년-2년      230 non-null    float64
 9   BTC            219 non-null    float64
 10  Gold           213 non-null    float64
 11  NASDAQ         213 non-null    float64
 12  Oil            213 non-null    float64
 13  US10Y          219 non-null    float64
 14  US2Y           219 non-null    float64
dtypes: float64(14), object(1)
memory usage: 28.8+ KB

In [18]:
data = data.drop('NASDAQ', axis=1)
data.head()

,Date,exchange_rate,kospi,kosdaq,kospi100,dow,nasdaq,sp500,미국채10년-2년,BTC,Gold,Oil,US10Y,US2Y
0,2021-01-04,1086.48,2944.45,977.62,3052.74,30223.89,12698.4,3700.65,0.8009,36499000.0,37.10,32.38,0.918,0.1171
1,2021-01-05,1086.42,2990.57,985.76,3099.42,30391.60,12819.0,3726.86,0.8320,37962000.0,37.18,33.94,0.955,0.1230
2,2021-01-06,1087.93,2968.21,981.39,3070.05,30829.40,12740.8,3748.14,0.9002,40731000.0,36.60,34.11,1.039,0.1388
3,2021-01-07,1094.28,3031.68,988.86,3139.48,31041.13,13067.5,3803.79,0.9402,44575000.0,36.48,34.53,1.081,0.1408
4,2021-01-08,1092.93,3152.18,987.79,3293.96,31097.97,13202.0,3824.68,0.9821,47241000.0,35.26,35.43,1.119,0.1369