In [103]:
import pandas as pd
from pycaret.classification import *
from tqdm import tqdm

# 데이콘 점수

In [104]:
# 제출 점수(제출 날짜) :

# 설정

In [105]:
# pycaret, nb/cat(blend)
# 매칭 별 최적 모델 적용
# tune : ❌(자체 점수 떨어짐.)
# combine, minmaxscaler
# 순서형 특성 수치형으로 지정 : ⭕
    # 'person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e'

In [106]:
# 'id', 'contents_open_dt' 제거 : ⭕
# 모든 값이 1인 'person_prefer_f', 'person_prefer_g' 열 제거 : ⭕
# person_rn, contents_rn 제거 : ⭕
# 중복 샘플 제거 : ❌

In [107]:
# 차이가 비교적 많이 나는 특성(25개)만 훈련/예측 : ⭕

# d_l_match_yn
# d_m_match_yn
# d_s_match_yn

# h_l_match_yn

# person_attribute_a
# person_attribute_a_1
# person_attribute_b
# person_prefer_c

# person_prefer_d_1
# person_prefer_d_2
# person_prefer_d_3

# person_prefer_e

# person_prefer_h_1
# person_prefer_h_2
# person_prefer_h_3
##############################
# contents_attribute_i
# contents_attribute_a

# contents_attribute_j
# contents_attribute_j_1
# contents_attribute_c

# contents_attribute_l
# contents_attribute_d

# contents_attribute_m
# contents_attribute_e

# contents_attribute_h

# 데이터 불러오기

In [108]:
# ../data/train.csv
# ../data/test.csv
train = pd.read_csv('../data/train.csv')
test = pd.read_csv('../data/test.csv')

# 데이터 확인

In [109]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501951 entries, 0 to 501950
Data columns (total 35 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      501951 non-null  int64
 1   d_l_match_yn            501951 non-null  bool
 2   d_m_match_yn            501951 non-null  bool
 3   d_s_match_yn            501951 non-null  bool
 4   h_l_match_yn            501951 non-null  bool
 5   h_m_match_yn            501951 non-null  bool
 6   h_s_match_yn            501951 non-null  bool
 7   person_attribute_a      501951 non-null  int64
 8   person_attribute_a_1    501951 non-null  int64
 9   person_attribute_b      501951 non-null  int64
 10  person_prefer_c         501951 non-null  int64
 11  person_prefer_d_1       501951 non-null  int64
 12  person_prefer_d_2       501951 non-null  int64
 13  person_prefer_d_3       501951 non-null  int64
 14  person_prefer_e         501951 non-null  int64
 15  person_prefer_f         501951 non-null  int64
 16  person_prefer_g         501951 non-null  int64
 17  person_prefer_h_1       501951 non-null  int64
 18  person_prefer_h_2       501951 non-null  int64
 19  person_prefer_h_3       501951 non-null  int64
 20  contents_attribute_i    501951 non-null  int64
 21  contents_attribute_a    501951 non-null  int64
 22  contents_attribute_j_1  501951 non-null  int64
 23  contents_attribute_j    501951 non-null  int64
 24  contents_attribute_c    501951 non-null  int64
 25  contents_attribute_k    501951 non-null  int64
 26  contents_attribute_l    501951 non-null  int64
 27  contents_attribute_d    501951 non-null  int64
 28  contents_attribute_m    501951 non-null  int64
 29  contents_attribute_e    501951 non-null  int64
 30  contents_attribute_h    501951 non-null  int64
 31  person_rn               501951 non-null  int64
 32  contents_rn             501951 non-null  int64
 33  contents_open_dt        501951 non-null  object
 34  target                  501951 non-null  int64
dtypes: bool(6), int64(28), object(1)
memory usage: 113.9+ MB

In [110]:
train.head()

,id,d_l_match_yn,d_m_match_yn,d_s_match_yn,h_l_match_yn,h_m_match_yn,h_s_match_yn,person_attribute_a,person_attribute_a_1,person_attribute_b,...,contents_attribute_k,contents_attribute_l,contents_attribute_d,contents_attribute_m,contents_attribute_e,contents_attribute_h,person_rn,contents_rn,contents_open_dt,target
0,0,True,True,True,False,False,False,1,4,3,...,2,1608,275,1,4,139,618822,354805,2020-01-17 12:09:36,1
1,1,False,False,False,True,True,False,1,3,4,...,2,1608,275,1,4,133,571659,346213,2020-06-18 17:48:52,0
2,2,False,False,False,True,False,False,2,0,3,...,1,1600,94,1,4,53,399816,206408,2020-07-08 20:00:10,0
3,3,False,False,False,True,False,False,2,0,2,...,2,1608,275,5,3,74,827967,572323,2020-01-13 18:09:34,0
4,4,True,True,True,False,False,False,1,3,4,...,2,1608,275,1,4,74,831614,573899,2020-03-09 20:39:22,0

In [111]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 34 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      46404 non-null  int64
 1   d_l_match_yn            46404 non-null  bool
 2   d_m_match_yn            46404 non-null  bool
 3   d_s_match_yn            46404 non-null  bool
 4   h_l_match_yn            46404 non-null  bool
 5   h_m_match_yn            46404 non-null  bool
 6   h_s_match_yn            46404 non-null  bool
 7   person_attribute_a      46404 non-null  int64
 8   person_attribute_a_1    46404 non-null  int64
 9   person_attribute_b      46404 non-null  int64
 10  person_prefer_c         46404 non-null  int64
 11  person_prefer_d_1       46404 non-null  int64
 12  person_prefer_d_2       46404 non-null  int64
 13  person_prefer_d_3       46404 non-null  int64
 14  person_prefer_e         46404 non-null  int64
 15  person_prefer_f         46404 non-null  int64
 16  person_prefer_g         46404 non-null  int64
 17  person_prefer_h_1       46404 non-null  int64
 18  person_prefer_h_2       46404 non-null  int64
 19  person_prefer_h_3       46404 non-null  int64
 20  contents_attribute_i    46404 non-null  int64
 21  contents_attribute_a    46404 non-null  int64
 22  contents_attribute_j_1  46404 non-null  int64
 23  contents_attribute_j    46404 non-null  int64
 24  contents_attribute_c    46404 non-null  int64
 25  contents_attribute_k    46404 non-null  int64
 26  contents_attribute_l    46404 non-null  int64
 27  contents_attribute_d    46404 non-null  int64
 28  contents_attribute_m    46404 non-null  int64
 29  contents_attribute_e    46404 non-null  int64
 30  contents_attribute_h    46404 non-null  int64
 31  person_rn               46404 non-null  int64
 32  contents_rn             46404 non-null  int64
 33  contents_open_dt        46404 non-null  object
dtypes: bool(6), int64(27), object(1)
memory usage: 10.2+ MB

In [112]:
test.head()

,id,d_l_match_yn,d_m_match_yn,d_s_match_yn,h_l_match_yn,h_m_match_yn,h_s_match_yn,person_attribute_a,person_attribute_a_1,person_attribute_b,...,contents_attribute_c,contents_attribute_k,contents_attribute_l,contents_attribute_d,contents_attribute_m,contents_attribute_e,contents_attribute_h,person_rn,contents_rn,contents_open_dt
0,0,True,False,False,True,True,True,1,1,2,...,1,2,1147,839,1,5,263,393790,236865,2020-12-01 02:24:18
1,1,False,False,False,True,False,False,2,0,2,...,1,2,1611,278,1,4,263,394058,236572,2020-12-17 05:42:53
2,2,True,False,False,True,True,True,2,3,2,...,1,2,1817,490,3,4,177,1002061,704612,2020-12-10 23:33:41
3,3,True,False,False,True,True,True,1,2,2,...,1,2,101,150,5,3,177,1000813,704652,2020-12-03 19:44:55
4,4,True,False,False,True,False,False,1,6,4,...,1,1,985,1097,1,4,177,111146,704413,2020-12-11 21:24:34

# 필요 데이터 추출

In [113]:
# person_rn :  사용자번호
# contents_rn :  컨텐츠번호
# contents_open_dt :  컨텐츠 열람 일시

## 훈련에 의미가 적은 열 제거

In [114]:
test_col = ['d_l_match_yn', 'd_m_match_yn', 'd_s_match_yn', 'h_l_match_yn',
 'person_attribute_a', 'person_attribute_a_1', 'person_attribute_b', 'person_prefer_c',
 'person_prefer_d_1', 'person_prefer_d_2', 'person_prefer_d_3',
 'person_prefer_e',
 'person_prefer_h_1', 'person_prefer_h_2', 'person_prefer_h_3', 
 'contents_attribute_i', 'contents_attribute_a',
 'contents_attribute_j', 'contents_attribute_j_1', 'contents_attribute_c',
 'contents_attribute_l', 'contents_attribute_d',
 'contents_attribute_m', 'contents_attribute_e',
 'contents_attribute_h']
target = ['target']
train_col = test_col + target
len(train_col), len(test_col)

(26, 25)

In [115]:
train = train[train_col]
test = test[test_col]

In [116]:
# train = train.drop(['id', 'contents_open_dt', 'person_prefer_f', 'person_prefer_g'], axis=1) 
# test = test.drop(['id', 'contents_open_dt', 'person_prefer_f', 'person_prefer_g'], axis=1)

In [117]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501951 entries, 0 to 501950
Data columns (total 26 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   d_l_match_yn            501951 non-null  bool
 1   d_m_match_yn            501951 non-null  bool
 2   d_s_match_yn            501951 non-null  bool
 3   h_l_match_yn            501951 non-null  bool
 4   person_attribute_a      501951 non-null  int64
 5   person_attribute_a_1    501951 non-null  int64
 6   person_attribute_b      501951 non-null  int64
 7   person_prefer_c         501951 non-null  int64
 8   person_prefer_d_1       501951 non-null  int64
 9   person_prefer_d_2       501951 non-null  int64
 10  person_prefer_d_3       501951 non-null  int64
 11  person_prefer_e         501951 non-null  int64
 12  person_prefer_h_1       501951 non-null  int64
 13  person_prefer_h_2       501951 non-null  int64
 14  person_prefer_h_3       501951 non-null  int64
 15  contents_attribute_i    501951 non-null  int64
 16  contents_attribute_a    501951 non-null  int64
 17  contents_attribute_j    501951 non-null  int64
 18  contents_attribute_j_1  501951 non-null  int64
 19  contents_attribute_c    501951 non-null  int64
 20  contents_attribute_l    501951 non-null  int64
 21  contents_attribute_d    501951 non-null  int64
 22  contents_attribute_m    501951 non-null  int64
 23  contents_attribute_e    501951 non-null  int64
 24  contents_attribute_h    501951 non-null  int64
 25  target                  501951 non-null  int64
dtypes: bool(4), int64(22)
memory usage: 86.2 MB

In [118]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   d_l_match_yn            46404 non-null  bool
 1   d_m_match_yn            46404 non-null  bool
 2   d_s_match_yn            46404 non-null  bool
 3   h_l_match_yn            46404 non-null  bool
 4   person_attribute_a      46404 non-null  int64
 5   person_attribute_a_1    46404 non-null  int64
 6   person_attribute_b      46404 non-null  int64
 7   person_prefer_c         46404 non-null  int64
 8   person_prefer_d_1       46404 non-null  int64
 9   person_prefer_d_2       46404 non-null  int64
 10  person_prefer_d_3       46404 non-null  int64
 11  person_prefer_e         46404 non-null  int64
 12  person_prefer_h_1       46404 non-null  int64
 13  person_prefer_h_2       46404 non-null  int64
 14  person_prefer_h_3       46404 non-null  int64
 15  contents_attribute_i    46404 non-null  int64
 16  contents_attribute_a    46404 non-null  int64
 17  contents_attribute_j    46404 non-null  int64
 18  contents_attribute_j_1  46404 non-null  int64
 19  contents_attribute_c    46404 non-null  int64
 20  contents_attribute_l    46404 non-null  int64
 21  contents_attribute_d    46404 non-null  int64
 22  contents_attribute_m    46404 non-null  int64
 23  contents_attribute_e    46404 non-null  int64
 24  contents_attribute_h    46404 non-null  int64
dtypes: bool(4), int64(21)
memory usage: 7.6 MB

## 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경

In [119]:
# 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경
train = train.rename(columns={'person_attribute_a_1':'person_attribute_a_a'})
train.head()

,d_l_match_yn,d_m_match_yn,d_s_match_yn,h_l_match_yn,person_attribute_a,person_attribute_a_a,person_attribute_b,person_prefer_c,person_prefer_d_1,person_prefer_d_2,...,contents_attribute_a,contents_attribute_j,contents_attribute_j_1,contents_attribute_c,contents_attribute_l,contents_attribute_d,contents_attribute_m,contents_attribute_e,contents_attribute_h,target
0,True,True,True,False,1,4,3,5,275,370,...,3,2,10,1,1608,275,1,4,139,1
1,False,False,False,True,1,3,4,1,114,181,...,3,1,5,1,1608,275,1,4,133,0
2,False,False,False,True,2,0,3,5,464,175,...,1,2,10,1,1600,94,1,4,53,0
3,False,False,False,True,2,0,2,5,703,705,...,3,1,5,1,1608,275,5,3,74,0
4,True,True,True,False,1,3,4,5,275,370,...,1,2,10,1,1608,275,1,4,74,0

In [120]:
# 카테고리형 특성 원핫인코딩시 컬럼 명 겹치는 문제 해결위해 특성명 변경
test = test.rename(columns={'person_attribute_a_1':'person_attribute_a_a'})
test.head()

,d_l_match_yn,d_m_match_yn,d_s_match_yn,h_l_match_yn,person_attribute_a,person_attribute_a_a,person_attribute_b,person_prefer_c,person_prefer_d_1,person_prefer_d_2,...,contents_attribute_i,contents_attribute_a,contents_attribute_j,contents_attribute_j_1,contents_attribute_c,contents_attribute_l,contents_attribute_d,contents_attribute_m,contents_attribute_e,contents_attribute_h
0,True,False,False,True,1,1,2,1,857,851,...,1,3,2,10,1,1147,839,1,5,263
1,False,False,False,True,2,0,2,2,683,1086,...,1,3,1,5,1,1611,278,1,4,263
2,True,False,False,True,2,3,2,1,514,790,...,3,3,1,3,1,1817,490,3,4,177
3,True,False,False,True,1,2,2,5,114,181,...,3,3,1,5,1,101,150,5,3,177
4,True,False,False,True,1,6,4,5,1082,1078,...,3,1,1,5,1,985,1097,1,4,177

# 모델 훈련/예측

In [ ]:
import itertools

In [ ]:
# 단계(4단계)별로 [0, 1]의 선택지 있는 모든 경우의 수 출력
match_cases = list(itertools.product(*[[0,1] for i in range(4)]))
match_cases

In [57]:
pred = pd.DataFrame()
num_list = [0, 1, 8, 9, 12, 13, 14, 15]

for num in tqdm(num_list):
    c0, c1, c2, c3 = match_cases[num]
    # 매칭 경우의 수로 구분해서 데이터 셋 가져오기
    tmp_train = train[(train['d_l_match_yn']==c0)&(train['d_m_match_yn']==c1)&(train['d_s_match_yn']==c2)&
    (train['h_l_match_yn']==c3)]
    tmp_test = test[(test['d_l_match_yn']==c0)&(test['d_m_match_yn']==c1)&(test['d_s_match_yn']==c2)&
    (test['h_l_match_yn']==c3)]
    # setup
    ex = setup(tmp_train, target='target', n_jobs=-1, session_id=0, verbose=False, silent=True, use_gpu=True,
    fold=5, fold_shuffle=True, combine_rare_levels=True,
    numeric_features=['person_attribute_a_a', 'person_attribute_b', 'person_prefer_e', 'contents_attribute_e'],
    normalize=True, normalize_method='minmax'
    )
    # 모델 생성
    model1 = create_model('nb')
    model2 = create_model('catboost')
    model3 = create_model('gbc')
    # 블랜드
    blended_model = blend_models([model1, model2, model3],fold=5, optimize='F1')
    # 예측
    tmp_pred = predict_model(blended_model, tmp_test)
    pred = pd.concat([pred, tmp_pred])

In [151]:
pred.iloc[:,-2:].head()

    Label   Score
5       1  0.6050
9       1  0.7506
12      1  0.6803
25      1  0.7244
26      0  0.7953

In [152]:
pred['Label']

5        1
9        1
12       1
25       1
26       0
        ..
46350    1
46357    1
46358    1
46391    1
46396    1
Name: Label, Length: 46404, dtype: int32

In [153]:
pred['Label'].value_counts()

1    38828
0     7576
Name: Label, dtype: int64

# 제출파일 불러오기

In [154]:
# ../data/sample_submission.csv
sub = pd.read_csv('../data/sample_submission.csv')
sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46404 entries, 0 to 46403
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      46404 non-null  int64
 1   target  46404 non-null  int64
dtypes: int64(2)
memory usage: 725.2 KB

In [155]:
sub.head()

   id  target
0   0      -1
1   1      -1
2   2      -1
3   3      -1
4   4      -1

# 제출파일 생성

In [156]:
sub['target'] = pred['Label']
sub.to_csv('sub_ver2.1.csv', index=False)

In [157]:
sub.head(10)

   id  target
0   0       1
1   1       1
2   2       0
3   3       1
4   4       1
5   5       1
6   6       1
7   7       0
8   8       0
9   9       1

# 코드 마지막