In [1]:
import os
import FinanceDataReader as fdr
from tqdm import tqdm
import pandas as pd

In [2]:
df = pd.read_csv('../data/20210104_20211119_data_interpolate.csv')
df.head()

,Date,exchange_rate,kospi,kosdaq,kospi100,dow,nasdaq,sp500,미국채10년-2년,BTC,Gold,Oil,US10Y,US2Y
0,2021-01-04,1086.48,2944.45,977.62,3052.74,30223.89,12698.4,3700.65,0.8009,36499000.0,37.10,32.38,0.918,0.1171
1,2021-01-05,1086.42,2990.57,985.76,3099.42,30391.60,12819.0,3726.86,0.8320,37962000.0,37.18,33.94,0.955,0.1230
2,2021-01-06,1087.93,2968.21,981.39,3070.05,30829.40,12740.8,3748.14,0.9002,40731000.0,36.60,34.11,1.039,0.1388
3,2021-01-07,1094.28,3031.68,988.86,3139.48,31041.13,13067.5,3803.79,0.9402,44575000.0,36.48,34.53,1.081,0.1408
4,2021-01-08,1092.93,3152.18,987.79,3293.96,31097.97,13202.0,3824.68,0.9821,47241000.0,35.26,35.43,1.119,0.1369

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           230 non-null    object
 1   exchange_rate  230 non-null    float64
 2   kospi          230 non-null    float64
 3   kosdaq         230 non-null    float64
 4   kospi100       230 non-null    float64
 5   dow            230 non-null    float64
 6   nasdaq         230 non-null    float64
 7   sp500          230 non-null    float64
 8   미국채10년-2년      230 non-null    float64
 9   BTC            230 non-null    float64
 10  Gold           230 non-null    float64
 11  Oil            230 non-null    float64
 12  US10Y          230 non-null    float64
 13  US2Y           230 non-null    float64
dtypes: float64(13), object(1)
memory usage: 25.3+ KB

### 종목 정보 불러오기

In [4]:
path = '../data'
list_name = 'Stock_List.csv'
stock_list = pd.read_csv(os.path.join(path,list_name))
stock_list.head()

        종목명    종목코드   상장시장
0      삼성전자    5930  KOSPI
1    SK하이닉스     660  KOSPI
2     NAVER   35420  KOSPI
3       카카오   35720  KOSPI
4  삼성바이오로직스  207940  KOSPI

In [5]:
# 종목 코드 6자리로 맞추기
stock_list['종목코드'] = stock_list["종목코드"].astype(str).str.zfill(6)
stock_list

          종목명    종목코드    상장시장
0        삼성전자  005930   KOSPI
1      SK하이닉스  000660   KOSPI
2       NAVER  035420   KOSPI
3         카카오  035720   KOSPI
4    삼성바이오로직스  207940   KOSPI
..        ...     ...     ...
365      맘스터치  220630  KOSDAQ
366        다날  064260  KOSDAQ
367   제이시스메디칼  287410  KOSDAQ
368   크리스에프앤씨  110790  KOSDAQ
369     쎄트렉아이  099320  KOSDAQ

[370 rows x 3 columns]

In [6]:
start_date = '20210104'
end_date = '20211119'

In [7]:
Business_days = pd.DataFrame(pd.date_range(start_date,end_date,freq='B'), columns = ['Date'])

In [8]:
code = '005930'
data = fdr.DataReader(code, start = start_date, end = end_date)[['Close']].reset_index()
data = pd.merge(Business_days, data, how = 'outer')
data['weekday'] = data.Date.apply(lambda x : x.weekday())
data['weeknum'] = data.Date.apply(lambda x : x.strftime('%V'))
data.Close = data.Close.ffill()

data['Date'] = data['Date'].astype('str')
data = pd.merge(data, df, on='Date')

In [9]:
data.head()

,Date,Close,weekday,weeknum,exchange_rate,kospi,kosdaq,kospi100,dow,nasdaq,sp500,미국채10년-2년,BTC,Gold,Oil,US10Y,US2Y
0,2021-01-04,83000.0,0,01,1086.48,2944.45,977.62,3052.74,30223.89,12698.4,3700.65,0.8009,36499000.0,37.10,32.38,0.918,0.1171
1,2021-01-05,83900.0,1,01,1086.42,2990.57,985.76,3099.42,30391.60,12819.0,3726.86,0.8320,37962000.0,37.18,33.94,0.955,0.1230
2,2021-01-06,82200.0,2,01,1087.93,2968.21,981.39,3070.05,30829.40,12740.8,3748.14,0.9002,40731000.0,36.60,34.11,1.039,0.1388
3,2021-01-07,82900.0,3,01,1094.28,3031.68,988.86,3139.48,31041.13,13067.5,3803.79,0.9402,44575000.0,36.48,34.53,1.081,0.1408
4,2021-01-08,88800.0,4,01,1092.93,3152.18,987.79,3293.96,31097.97,13202.0,3824.68,0.9821,47241000.0,35.26,35.43,1.119,0.1369

In [10]:
sample = pd.pivot_table(data = data, values = data.columns, columns = 'weekday', index = 'weeknum')
sample

                BTC                                                    Close  \
weekday           0           1           2           3           4        0
weeknum
01       36499000.0  37962000.0  40731000.0  44575000.0  47241000.0  83000.0
02       40340000.0  38541000.0  41403000.0  42762000.0  41045000.0  91000.0
03       39994000.0  39465000.0  39277000.0  34389000.0  36365000.0  85000.0
04       36061000.0  35950000.0  34315000.0  36613000.0  37509000.0  89400.0
05       36517000.0  37878000.0  39353000.0  39820000.0  40482000.0  83000.0
06       49150000.0  48649000.0  48580000.0  49886000.0  51192000.0  83000.0
07       52498000.0  54780000.0  57513000.0  57811000.0  63502000.0  84200.0
08       61723000.0  55088000.0  56500000.0  53964000.0  53588000.0  82200.0
09       54775500.0  55963000.0  57841000.0  56351000.0  56506000.0  82500.0
10       59777000.0  62916000.0  64151000.0  66103000.0  66465000.0  82000.0
11       64429000.0  65997000.0  68346000.0  66900000.0  67726000.0  81800.0
12       64453000.0  65314000.0  64700000.0  63066000.0  65601000.0  82000.0
13       68391000.0  70470000.0  70974000.0  72314000.0  73697000.0  81600.0
14       78300000.0  77792000.0  72914000.0  75183000.0  75642000.0  85400.0
15       77974000.0  80661000.0  80171000.0  79425000.0  79213000.0  83200.0
16       71001000.0  70289000.0  67805000.0  59500000.0  61380000.0  83300.0
17       64196000.0  64738000.0  64116000.0  63710000.0  68075000.0  83500.0
18       69876000.0  66679000.0  67538500.0  68398000.0  68647000.0  81700.0
19       70731000.0  69550000.0  61088000.0  62879000.0  61526000.0  83200.0
20       54050000.0  53153000.0  52301500.0  51450000.0  48930000.0  79600.0
21       47100000.0  46984000.0  47285000.0  46514000.0  43641000.0  79700.0
22       43675000.0  43208000.0  43720000.0  45440000.0  42973000.0  80500.0
23       38953000.0  38531000.0  43259000.0  42761000.0  43574000.0  81900.0
24       46563000.0  46373000.0  45234000.0  44769000.0  42523000.0  80500.0
25       37264000.0  37826000.0  39079000.0  40177000.0  37101000.0  79900.0
26       39997000.0  41482000.0  40685000.0  39335000.0  39417000.0  81900.0
27       39484000.0  39814000.0  39692000.0  39022000.0  39825000.0  80400.0
28       39137000.0  38753000.0  38602000.0  37576000.0  37101000.0  79700.0
29       36711000.0  35256000.0  38010000.0  37910000.0  39135000.0  79000.0
30       43066000.0  45616000.0  46334000.0  45980000.0  48516000.0  78800.0
31       45403000.0  44859000.0  45777000.0  47132000.0  49332000.0  79300.0
32       53011000.0  52331000.0  52561000.0  52058000.0  55299000.0  81500.0
33       53917500.0  52536000.0  52705000.0  54941000.0  57646000.0  74400.0
34       57725000.0  56107000.0  57154000.0  55200000.0  57421000.0  73300.0
35       55631000.0  55160000.0  56480000.0  57297000.0  57830000.0  74600.0
36       60851000.0  56620000.0  55623000.0  55826000.0  54910000.0  77300.0
37       54286000.0  56557000.0  57127000.0  57248000.0  57616000.0  76300.0
38       56802750.0  55989500.0  55176250.0  54363000.0  52158000.0  77200.0
39       51693000.0  50268000.0  50804000.0  53473000.0  58386000.0  77700.0
40       60093000.0  61800000.0  67121000.0  65474000.0  65982000.0  73200.0
41       67596500.0  69211000.0  69925000.0  69753000.0  75707000.0  71500.0
42       76494000.0  78715000.0  79630000.0  76196000.0  74283000.0  70200.0
43       76280000.0  73012000.0  71646000.0  72947000.0  74641000.0  70200.0
44       72422000.0  74162000.0  74674000.0  73757000.0  74108000.0  69900.0
45       81504000.0  80729000.0  79520000.0  78842000.0  78179000.0  70600.0
46       77559000.0  73884000.0  73962000.0  70388000.0  71782000.0  71400.0

                                             ...     sp500                    \
weekday        1        2        3        4  ...         0        1        2
weeknum                                      ...
01       83900.0  82200.0  82900.0  88800.0  ...  3700.650  3726.86  3748.14
02       90600.0  89700.0  89700.0  88000.0  ...  3799.610  3801.19  3809.84
03       87000.0  87200.0  88100.0  86800.0  ...  3783.580  3798.91  3851.85
04       86700.0  85600.0  83700.0  82000.0  ...  3855.360  3849.62  3750.77
05       84400.0  84600.0  82500.0  83500.0  ...  3773.860  3826.31  3830.17
06       82700.0  81600.0  81600.0  81600.0  ...  3915.590  3911.23  3909.88
07       84900.0  83200.0  82100.0  82600.0  ...  3933.710  3932.59  3931.33
08       82000.0  82000.0  85300.0  82500.0  ...  3876.500  3881.37  3925.43
09       83600.0  84000.0  82400.0  82100.0  ...  3901.820  3870.29  3819.72
10       81400.0  80900.0  82000.0  82800.0  ...  3821.350  3875.44  3898.81
11       82800.0  82300.0  82900.0  81900.0  ...  3968.940  3962.71  3974.12
12       81800.0  81000.0  81200.0  81500.0  ...  3940.590  3910.52  3889.14
13       82200.0  81400.0  82900.0  84800.0  ...  3971.090  3958.55  3972.89
14       86000.0  85600.0  84700.0  83600.0  ...  4077.910  4073.94  4079.95
15       84000.0  84000.0  84100.0  83900.0  ...  4127.990  4141.59  4124.66
16       83900.0  82600.0  82400.0  82800.0  ...  4163.260  4134.94  4173.42
17       82900.0  82100.0  81700.0  81500.0  ...  4187.620  4186.72  4183.18
18       82600.0  82600.0  82300.0  81900.0  ...  4192.660  4164.66  4167.59
19       81200.0  80000.0  78500.0  80100.0  ...  4188.430  4152.10  4063.04
20       79600.0  79600.0  79500.0  80100.0  ...  4163.290  4127.83  4115.68
21       79900.0  79800.0  79600.0  80100.0  ...  4197.050  4188.13  4195.99
22       80600.0  80800.0  82800.0  82200.0  ...  4203.075  4202.04  4208.12
23       81900.0  81100.0  81000.0  81000.0  ...  4226.520  4227.26  4219.55
24       80900.0  81800.0  80900.0  80500.0  ...  4255.150  4246.59  4223.70
25       80000.0  80100.0  81200.0  81600.0  ...  4224.790  4246.44  4241.84
26       81000.0  80700.0  80100.0  80000.0  ...  4290.610  4291.80  4297.50
27       81200.0  80800.0  79900.0  79400.0  ...  4347.940  4343.54  4358.13
28       79800.0  79500.0  80600.0  79800.0  ...  4384.630  4369.21  4374.30
29       79000.0  78500.0  79700.0  79300.0  ...  4258.630  4323.21  4358.69
30       78500.0  79200.0  79000.0  78500.0  ...  4422.230  4401.46  4400.65
31       81400.0  82900.0  82100.0  81500.0  ...  4387.110  4423.15  4402.68
32       80200.0  78500.0  77000.0  74400.0  ...  4432.350  4436.75  4447.70
33       74200.0  73900.0  73100.0  72700.0  ...  4479.660  4448.08  4400.27
34       75600.0  75700.0  74600.0  74300.0  ...  4479.540  4486.23  4496.19
35       76700.0  76800.0  76000.0  76600.0  ...  4528.790  4522.68  4524.09
36       76100.0  76300.0  75300.0  75300.0  ...  4527.730  4520.03  4514.07
37       76600.0  77000.0  76100.0  77200.0  ...  4468.730  4443.05  4480.70
38       77200.0  77200.0  77400.0  77300.0  ...  4357.730  4354.18  4395.64
39       76300.0  74100.0  74100.0  73200.0  ...  4443.110  4352.63  4359.46
40       72200.0  71300.0  71600.0  71500.0  ...  4300.460  4345.72  4363.55
41       69000.0  68800.0  69400.0  70100.0  ...  4361.190  4350.64  4363.80
42       70600.0  70300.0  70200.0  70400.0  ...  4486.480  4519.63  4536.19
43       71100.0  70100.0  70700.0  69800.0  ...  4566.480  4574.79  4551.68
44       71500.0  70400.0  70600.0  70200.0  ...  4613.670  4630.65  4660.57
45       70500.0  70200.0  69900.0  70600.0  ...  4701.700  4685.25  4646.71
46       71300.0  70700.0  70200.0  71200.0  ...  4682.810  4700.90  4688.67

                          미국채10년-2년
weekday        3        4         0       1       2       3       4
weeknum
01       3803.79  3824.68    0.8009  0.8320  0.9002  0.9402  0.9821
02       3795.54  3768.25    0.9951  0.9821  0.9470  0.9840  0.9520
03       3853.07  3841.47    0.9630  0.9590  0.9480  0.9840  0.9610
04       3787.38  3714.24    0.9121  0.9100  0.8939  0.9309  0.9597
05       3871.74  3886.83    0.9677  0.9818  1.0199  1.0228  1.0638
06       3916.38  3934.83    1.0629  1.0429  1.0129  1.0559  1.0990
07       3913.97  3906.71    1.1350  1.1880  1.1731  1.1881  1.2312
08       3829.34  3811.15    1.2541  1.2321  1.2470  1.3521  1.2781
09       3768.47  3841.94    1.3049  1.2750  1.3413  1.4103  1.4362
10       3939.34  3943.34    1.4384  1.3653  1.3662  1.3921  1.4760
11       3915.46  3913.10    1.4540  1.4700  1.5090  1.5489  1.5768
12       3909.52  3974.54    1.5437  1.4747  1.4636  1.4943  1.5334
13       4019.87  4048.89    1.5744  1.5615  1.5818  1.5106  1.5110
14       4097.17  4128.80    1.5366  1.4955  1.5243  1.4752  1.5032
15       4170.42  4185.47    1.5002  1.4591  1.4710  1.4130  1.4268
16       4134.98  4180.17    1.4488  1.4128  1.4098  1.3907  1.3995
17       4211.47  4181.17    1.3983  1.4432  1.4449  1.4769  1.4637
18       4201.62  4232.60    1.4366  1.4286  1.4164  1.4134  1.4322
19       4112.50  4173.85    1.4492  1.4612  1.5262  1.5021  1.4860
20       4159.12  4155.86    1.4969  1.4889  1.5168  1.4808  1.4677
21       4200.88  4204.11    1.4517  1.4147  1.4325  1.4594  1.4404
22       4192.85  4229.89    1.4654  1.4574  1.4424  1.4666  1.4083
23       4239.18  4247.44    1.4123  1.3833  1.3353  1.2901  1.3050
24       4221.86  4166.45    1.3360  1.3240  1.3738  1.2977  1.1909
25       4266.49  4280.70    1.2407  1.2369  1.2209  1.2290  1.2559
26       4319.94  4352.34    1.2257  1.2226  1.2155  1.2043  1.1934
27       4320.82  4369.55    1.2024  1.1321  1.1049  1.0977  1.1464
28       4360.03  4327.16    1.1413  1.1632  1.1240  1.0739  1.0725
29       4367.48  4411.80    0.9814  1.0204  1.0822  1.0752  1.0809
30       4419.15  4395.26    1.0989  1.0315  1.0345  1.0625  1.0382
31       4429.10  4436.52    1.0048  1.0018  0.9978  1.0230  1.0928
32       4460.84  4468.00    1.1027  1.1156  1.1144  1.1363  1.0739
33       4405.80  4441.67    1.0548  1.0497  1.0425  1.0214  1.0289
34       4469.91  4509.37    1.0268  1.0727  1.1084  1.1114  1.0910
35       4536.95  4535.43    1.0767  1.0957  1.0876  1.0754  1.1179
36       4493.28  4458.58    1.1319  1.1550  1.1178  1.0826  1.1283
37       4473.76  4432.99    1.1131  1.0750  1.0909  1.1147  1.1373
38       4448.98  4455.48    1.0962  1.1101  1.0637  1.1742  1.1815
39       4307.54  4357.05    1.2111  1.2411  1.2309  1.2106  1.1993
40       4399.76  4391.36    1.2014  1.2424  1.2305  1.2665  1.2922
41       4438.23  4471.37    1.2743  1.2301  1.1820  1.1518  1.1791
42       4549.78  4544.90    1.1697  1.2416  1.2726  1.2435  1.1785
43       4596.42  4605.38    1.1977  1.1622  1.0471  1.0889  1.0600
44       4680.06  4697.53    1.0599  1.0990  1.1273  1.1036  1.0502
45       4649.27  4682.85    1.0464  1.0163  1.0511  1.0371  1.0525
46       4706.64  4697.96    1.0983  1.1180  1.0871  1.0849  1.0352

[46 rows x 70 columns]

In [11]:
sample.loc[:,'Close']

weekday        0        1        2        3        4
weeknum
01       83000.0  83900.0  82200.0  82900.0  88800.0
02       91000.0  90600.0  89700.0  89700.0  88000.0
03       85000.0  87000.0  87200.0  88100.0  86800.0
04       89400.0  86700.0  85600.0  83700.0  82000.0
05       83000.0  84400.0  84600.0  82500.0  83500.0
06       83000.0  82700.0  81600.0  81600.0  81600.0
07       84200.0  84900.0  83200.0  82100.0  82600.0
08       82200.0  82000.0  82000.0  85300.0  82500.0
09       82500.0  83600.0  84000.0  82400.0  82100.0
10       82000.0  81400.0  80900.0  82000.0  82800.0
11       81800.0  82800.0  82300.0  82900.0  81900.0
12       82000.0  81800.0  81000.0  81200.0  81500.0
13       81600.0  82200.0  81400.0  82900.0  84800.0
14       85400.0  86000.0  85600.0  84700.0  83600.0
15       83200.0  84000.0  84000.0  84100.0  83900.0
16       83300.0  83900.0  82600.0  82400.0  82800.0
17       83500.0  82900.0  82100.0  81700.0  81500.0
18       81700.0  82600.0  82600.0  82300.0  81900.0
19       83200.0  81200.0  80000.0  78500.0  80100.0
20       79600.0  79600.0  79600.0  79500.0  80100.0
21       79700.0  79900.0  79800.0  79600.0  80100.0
22       80500.0  80600.0  80800.0  82800.0  82200.0
23       81900.0  81900.0  81100.0  81000.0  81000.0
24       80500.0  80900.0  81800.0  80900.0  80500.0
25       79900.0  80000.0  80100.0  81200.0  81600.0
26       81900.0  81000.0  80700.0  80100.0  80000.0
27       80400.0  81200.0  80800.0  79900.0  79400.0
28       79700.0  79800.0  79500.0  80600.0  79800.0
29       79000.0  79000.0  78500.0  79700.0  79300.0
30       78800.0  78500.0  79200.0  79000.0  78500.0
31       79300.0  81400.0  82900.0  82100.0  81500.0
32       81500.0  80200.0  78500.0  77000.0  74400.0
33       74400.0  74200.0  73900.0  73100.0  72700.0
34       73300.0  75600.0  75700.0  74600.0  74300.0
35       74600.0  76700.0  76800.0  76000.0  76600.0
36       77300.0  76100.0  76300.0  75300.0  75300.0
37       76300.0  76600.0  77000.0  76100.0  77200.0
38       77200.0  77200.0  77200.0  77400.0  77300.0
39       77700.0  76300.0  74100.0  74100.0  73200.0
40       73200.0  72200.0  71300.0  71600.0  71500.0
41       71500.0  69000.0  68800.0  69400.0  70100.0
42       70200.0  70600.0  70300.0  70200.0  70400.0
43       70200.0  71100.0  70100.0  70700.0  69800.0
44       69900.0  71500.0  70400.0  70600.0  70200.0
45       70600.0  70500.0  70200.0  69900.0  70600.0
46       71400.0  71300.0  70700.0  70200.0  71200.0

In [12]:
type(sample.loc[:,'Close'])

pandas.core.frame.DataFrame

In [13]:
type(sample.iloc[:,5])

pandas.core.series.Series

In [14]:
# 2021년 1월 04일 ~ 2021년 10월 22일
x = sample.iloc[0:2].to_numpy()
x.shape

(2, 70)

In [15]:
x

array([[3.649900e+07, 3.796200e+07, 4.073100e+07, 4.457500e+07,
        4.724100e+07, 8.300000e+04, 8.390000e+04, 8.220000e+04,
        8.290000e+04, 8.880000e+04, 3.710000e+01, 3.718000e+01,
        3.660000e+01, 3.648000e+01, 3.526000e+01, 3.238000e+01,
        3.394000e+01, 3.411000e+01, 3.453000e+01, 3.543000e+01,
        9.180000e-01, 9.550000e-01, 1.039000e+00, 1.081000e+00,
        1.119000e+00, 1.171000e-01, 1.230000e-01, 1.388000e-01,
        1.408000e-01, 1.369000e-01, 3.022389e+04, 3.039160e+04,
        3.082940e+04, 3.104113e+04, 3.109797e+04, 1.086480e+03,
        1.086420e+03, 1.087930e+03, 1.094280e+03, 1.092930e+03,
        9.776200e+02, 9.857600e+02, 9.813900e+02, 9.888600e+02,
        9.877900e+02, 2.944450e+03, 2.990570e+03, 2.968210e+03,
        3.031680e+03, 3.152180e+03, 3.052740e+03, 3.099420e+03,
        3.070050e+03, 3.139480e+03, 3.293960e+03, 1.269840e+04,
        1.281900e+04, 1.274080e+04, 1.306750e+04, 1.320200e+04,
        3.700650e+03, 3.726860e+03, 3.748140e+03, 3.803790e+03,
        3.824680e+03, 8.009000e-01, 8.320000e-01, 9.002000e-01,
        9.402000e-01, 9.821000e-01],
       [4.034000e+07, 3.854100e+07, 4.140300e+07, 4.276200e+07,
        4.104500e+07, 9.100000e+04, 9.060000e+04, 8.970000e+04,
        8.970000e+04, 8.800000e+04, 3.516000e+01, 3.536000e+01,
        3.524000e+01, 3.522000e+01, 3.480000e+01, 3.526000e+01,
        3.590000e+01, 3.580000e+01, 3.624000e+01, 3.534000e+01,
        1.144000e+00, 1.129000e+00, 1.092000e+00, 1.129000e+00,
        1.087000e+00, 1.489000e-01, 1.469000e-01, 1.450000e-01,
        1.450000e-01, 1.350000e-01, 3.100869e+04, 3.106869e+04,
        3.106047e+04, 3.099152e+04, 3.081426e+04, 1.097230e+03,
        1.094480e+03, 1.097120e+03, 1.095880e+03, 1.103270e+03,
        9.766300e+02, 9.737200e+02, 9.791300e+02, 9.802900e+02,
        9.644400e+02, 3.148450e+03, 3.125950e+03, 3.148290e+03,
        3.149930e+03, 3.085900e+03, 3.302890e+03, 3.276290e+03,
        3.298420e+03, 3.291070e+03, 3.216700e+03, 1.303640e+04,
        1.307240e+04, 1.312900e+04, 1.311260e+04, 1.299850e+04,
        3.799610e+03, 3.801190e+03, 3.809840e+03, 3.795540e+03,
        3.768250e+03, 9.951000e-01, 9.821000e-01, 9.470000e-01,
        9.840000e-01, 9.520000e-01]])

# pycaret 이용
* 삼성전자(005930) 테스트
* 종가와 상관계수 높은 특성 : KOSPI(0.79), KOSDAQ(0.87), DOW(0.58), NASDAQ(0.50), S&P500(0.56)
* 예측 순서(종가와 상관계수 높은 특성 먼저 예측)
    * 날짜로 종가 예측
    * 종가로 KOSDAQ 예측(종가와 상관계수 0.87)
    * 종가와 KOSDAQ으로 NASDAQ 예측(KOSDAQ과 상관계수 0.68)
    * 종가, KOSDAQ, NASDAQ으로 S&P500 예측(NASDAQ과 상관계수 0.93)
    * 종가, KOSDAQ, NASDAQ, S&P500으로 DOW 예측(S&P500과 상관계수 0.95)
    * 종가, KOSDAQ, NASDAQ, S&P500, DOW로 KOSPI 예측
    * 종가, 5가지 특성으로 다른 종가 예측

In [16]:
# 외부 데이터 가져오기
df = pd.read_csv('../data/20210104_20211119_data_interpolate.csv')
df.head()

,Date,exchange_rate,kospi,kosdaq,kospi100,dow,nasdaq,sp500,미국채10년-2년,BTC,Gold,Oil,US10Y,US2Y
0,2021-01-04,1086.48,2944.45,977.62,3052.74,30223.89,12698.4,3700.65,0.8009,36499000.0,37.10,32.38,0.918,0.1171
1,2021-01-05,1086.42,2990.57,985.76,3099.42,30391.60,12819.0,3726.86,0.8320,37962000.0,37.18,33.94,0.955,0.1230
2,2021-01-06,1087.93,2968.21,981.39,3070.05,30829.40,12740.8,3748.14,0.9002,40731000.0,36.60,34.11,1.039,0.1388
3,2021-01-07,1094.28,3031.68,988.86,3139.48,31041.13,13067.5,3803.79,0.9402,44575000.0,36.48,34.53,1.081,0.1408
4,2021-01-08,1092.93,3152.18,987.79,3293.96,31097.97,13202.0,3824.68,0.9821,47241000.0,35.26,35.43,1.119,0.1369

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           230 non-null    object
 1   exchange_rate  230 non-null    float64
 2   kospi          230 non-null    float64
 3   kosdaq         230 non-null    float64
 4   kospi100       230 non-null    float64
 5   dow            230 non-null    float64
 6   nasdaq         230 non-null    float64
 7   sp500          230 non-null    float64
 8   미국채10년-2년      230 non-null    float64
 9   BTC            230 non-null    float64
 10  Gold           230 non-null    float64
 11  Oil            230 non-null    float64
 12  US10Y          230 non-null    float64
 13  US2Y           230 non-null    float64
dtypes: float64(13), object(1)
memory usage: 25.3+ KB

In [18]:
# 종목 정보 가져오기
path = '../data'
list_name = 'Stock_List.csv'
stock_list = pd.read_csv(os.path.join(path,list_name))
stock_list.head()

        종목명    종목코드   상장시장
0      삼성전자    5930  KOSPI
1    SK하이닉스     660  KOSPI
2     NAVER   35420  KOSPI
3       카카오   35720  KOSPI
4  삼성바이오로직스  207940  KOSPI

In [19]:
# 종목 코드 6자리로 맞추기
stock_list['종목코드'] = stock_list["종목코드"].astype(str).str.zfill(6)
stock_list.head()

        종목명    종목코드   상장시장
0      삼성전자  005930  KOSPI
1    SK하이닉스  000660  KOSPI
2     NAVER  035420  KOSPI
3       카카오  035720  KOSPI
4  삼성바이오로직스  207940  KOSPI

In [20]:
start_date = '20210104'
end_date = '20211119'

In [21]:
Business_days = pd.DataFrame(pd.date_range(start_date,end_date,freq='B'), columns = ['Date'])
code = '005930'
data = fdr.DataReader(code, start = start_date, end = end_date)[['Close']].reset_index()
data = pd.merge(Business_days, data, how = 'outer')
data['weekday'] = data.Date.apply(lambda x : x.weekday())
data['weeknum'] = data.Date.apply(lambda x : x.strftime('%V'))
data.Close = data.Close.interpolate()

data['Date'] = data['Date'].astype('str')
data = pd.merge(data, df, on='Date')

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 230 entries, 0 to 229
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           230 non-null    object
 1   Close          230 non-null    float64
 2   weekday        230 non-null    int64
 3   weeknum        230 non-null    object
 4   exchange_rate  230 non-null    float64
 5   kospi          230 non-null    float64
 6   kosdaq         230 non-null    float64
 7   kospi100       230 non-null    float64
 8   dow            230 non-null    float64
 9   nasdaq         230 non-null    float64
 10  sp500          230 non-null    float64
 11  미국채10년-2년      230 non-null    float64
 12  BTC            230 non-null    float64
 13  Gold           230 non-null    float64
 14  Oil            230 non-null    float64
 15  US10Y          230 non-null    float64
 16  US2Y           230 non-null    float64
dtypes: float64(14), int64(1), object(2)
memory usage: 32.3+ KB

### 데이터 셋 만들기

In [23]:
mod_data = data[['Date','Close','weekday','weeknum','kospi','kosdaq','dow','nasdaq','sp500']]
mod_data.head()

,Date,Close,weekday,weeknum,kospi,kosdaq,dow,nasdaq,sp500
0,2021-01-04,83000.0,0,01,2944.45,977.62,30223.89,12698.4,3700.65
1,2021-01-05,83900.0,1,01,2990.57,985.76,30391.60,12819.0,3726.86
2,2021-01-06,82200.0,2,01,2968.21,981.39,30829.40,12740.8,3748.14
3,2021-01-07,82900.0,3,01,3031.68,988.86,31041.13,13067.5,3803.79
4,2021-01-08,88800.0,4,01,3152.18,987.79,31097.97,13202.0,3824.68

In [24]:
train_data = mod_data.loc[mod_data['weeknum'].astype(int) < 44]
train_data

,Date,Close,weekday,weeknum,kospi,kosdaq,dow,nasdaq,sp500
0,2021-01-04,83000.0,0,01,2944.45,977.62,30223.89,12698.4,3700.65
1,2021-01-05,83900.0,1,01,2990.57,985.76,30391.60,12819.0,3726.86
2,2021-01-06,82200.0,2,01,2968.21,981.39,30829.40,12740.8,3748.14
3,2021-01-07,82900.0,3,01,3031.68,988.86,31041.13,13067.5,3803.79
4,2021-01-08,88800.0,4,01,3152.18,987.79,31097.97,13202.0,3824.68
...,...,...,...,...,...,...,...,...,...
210,2021-10-25,70200.0,0,43,3020.54,994.31,35743.78,15226.7,4566.48
211,2021-10-26,71100.0,1,43,3049.08,1011.76,35755.83,15235.7,4574.79
212,2021-10-27,70100.0,2,43,3025.49,1008.95,35491.48,15235.8,4551.68
213,2021-10-28,70700.0,3,43,3009.55,1000.13,35729.89,15448.1,4596.42
214,2021-10-29,69800.0,4,43,2970.68,992.33,35819.59,15498.4,4605.38

In [25]:
val_data = mod_data.loc[mod_data['weeknum'].astype(int) == 44]
val_data

,Date,Close,weekday,weeknum,kospi,kosdaq,dow,nasdaq,sp500
215,2021-11-01,69900.0,0,44,2978.94,998.57,35913.68,15595.9,4613.67
216,2021-11-02,71500.0,1,44,3013.49,1009.44,36053.09,15649.6,4630.65
217,2021-11-03,70400.0,2,44,2975.71,1005.00,36157.02,15811.6,4660.57
218,2021-11-04,70600.0,3,44,2983.22,1001.43,36124.66,15940.3,4680.06
219,2021-11-05,70200.0,4,44,2969.27,1001.35,36329.07,15971.6,4697.53

In [26]:
val_x = val_data[['Date','weekday','weeknum']]
val_y = val_data[['Date','Close']]

In [27]:
test_data = mod_data.loc[mod_data['weeknum'].astype(int) == 44]
test_data

,Date,Close,weekday,weeknum,kospi,kosdaq,dow,nasdaq,sp500
215,2021-11-01,69900.0,0,44,2978.94,998.57,35913.68,15595.9,4613.67
216,2021-11-02,71500.0,1,44,3013.49,1009.44,36053.09,15649.6,4630.65
217,2021-11-03,70400.0,2,44,2975.71,1005.00,36157.02,15811.6,4660.57
218,2021-11-04,70600.0,3,44,2983.22,1001.43,36124.66,15940.3,4680.06
219,2021-11-05,70200.0,4,44,2969.27,1001.35,36329.07,15971.6,4697.53

In [28]:
test_x = test_data[['Date','weekday','weeknum']]
test_y = test_data[['Date','Close']]

# 종가 예측

#### 1. kosdaq 예측
* 2. nasdaq
* 3. sp500
* 4. dow
* 5. kospi
* 6. 다른 종가

In [29]:
from pycaret.regression import *

In [30]:
# setup
ex = setup(train_data, target='kosdaq', ignore_features=['Close','kospi','dow','nasdaq','sp500'])

In [31]:
# 모델 비교
compare_models()

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=-1, n_neighbors=5, p=2,
                    weights='uniform')

In [32]:
# 모델 생성
rf = create_model('rf')

In [33]:
# 모델 튜닝
tuned_rf = tune_model(rf)

In [34]:
# 모델 훈련 완료
kosdaq_prediction_rf = finalize_model(tuned_rf)

In [35]:
# kosdaq 예측
kosdaq_pred = predict_model(kosdaq_prediction_rf, val_x)
kosdaq_pred

           Date  weekday weeknum        Label
215  2021-11-01        0      44  1008.127196
216  2021-11-02        1      44  1008.464298
217  2021-11-03        2      44  1008.892331
218  2021-11-04        3      44  1008.969998
219  2021-11-05        4      44  1008.281432

In [40]:
# val_x에 예측한 kosdaq 값 추가
val_x['kosdaq'] = kosdaq_pred['Label']
val_x

           Date  weekday weeknum       kosdaq
215  2021-11-01        0      44  1008.127196
216  2021-11-02        1      44  1008.464298
217  2021-11-03        2      44  1008.892331
218  2021-11-04        3      44  1008.969998
219  2021-11-05        4      44  1008.281432

* 1. kosdaq 예측
#### 2. nasdaq
* 3. sp500
* 4. dow
* 5. kospi
* 6. 다른 종가

In [42]:
# setup
ex = setup(train_data, target='nasdaq', ignore_features=['Close','kospi','dow','sp500'])

In [43]:
# 모델 비교
compare_models()

ExtraTreesRegressor(bootstrap=False, ccp_alpha=0.0, criterion='mse',
                    max_depth=None, max_features='auto', max_leaf_nodes=None,
                    max_samples=None, min_impurity_decrease=0.0,
                    min_impurity_split=None, min_samples_leaf=1,
                    min_samples_split=2, min_weight_fraction_leaf=0.0,
                    n_estimators=100, n_jobs=-1, oob_score=False,
                    random_state=2132, verbose=0, warm_start=False)

In [44]:
# 모델 생성
et = create_model('et')

In [45]:
# 모델 튜닝
tuned_et = tune_model(et)

In [46]:
# 훈련 완료
nasdaq_prediction_ef = finalize_model(tuned_et)

In [48]:
# nasdaq 예측
nasdaq_pred = predict_model(nasdaq_prediction_ef, val_x)
nasdaq_pred

           Date  weekday weeknum       kosdaq         Label
215  2021-11-01        0      44  1008.127196  14893.817002
216  2021-11-02        1      44  1008.464298  14891.089023
217  2021-11-03        2      44  1008.892331  14920.573994
218  2021-11-04        3      44  1008.969998  14938.997998
219  2021-11-05        4      44  1008.281432  14909.712002

In [59]:
# val_x에 예측 nasdaq 열 추가
val_x['nasdaq'] = nasdaq_pred['Label']
val_x

           Date  weekday weeknum       kosdaq        nasdaq        sp500
215  2021-11-01        0      44  1008.127196  14893.817002  4184.287112
216  2021-11-02        1      44  1008.464298  14891.089023  4189.821618
217  2021-11-03        2      44  1008.892331  14920.573994  4189.821618
218  2021-11-04        3      44  1008.969998  14938.997998  4190.624184
219  2021-11-05        4      44  1008.281432  14909.712002  4198.350874

* 1. kosdaq 예측
* 2. nasdaq
#### 3. sp500
* 4. dow
* 5. kospi
* 6. 다른 종가

In [50]:
# setup
ex = setup(train_data, target='sp500', ignore_features=['Close','kospi','dow'])

In [51]:
# 모델 비교
compare_models()

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=8528, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [52]:
# 모델 생성
gbr = create_model('gbr')

In [53]:
# 모델 튜닝
tuned_gbr = tune_model(gbr)

In [54]:
# 훈련 완료
nasdaq_prediction_gbr = finalize_model(tuned_gbr)

In [61]:
# nasdaq 예측
sp500_pred = predict_model(nasdaq_prediction_gbr, val_x)
sp500_pred

,Date,weekday,weeknum,kosdaq,nasdaq,sp500,Label
215,2021-11-01,0,44,1008.127196,14893.817002,4184.287112,4478.305369
216,2021-11-02,1,44,1008.464298,14891.089023,4189.821618,4482.484982
217,2021-11-03,2,44,1008.892331,14920.573994,4189.821618,4502.814517
218,2021-11-04,3,44,1008.969998,14938.997998,4190.624184,4503.617084
219,2021-11-05,4,44,1008.281432,14909.712002,4198.350874,4509.408335

In [60]:
# val_x에 예측 nasdaq 열 추가
val_x['sp500'] = sp500_pred['Label']
val_x

           Date  weekday weeknum       kosdaq        nasdaq        sp500
215  2021-11-01        0      44  1008.127196  14893.817002  4184.287112
216  2021-11-02        1      44  1008.464298  14891.089023  4189.821618
217  2021-11-03        2      44  1008.892331  14920.573994  4189.821618
218  2021-11-04        3      44  1008.969998  14938.997998  4190.624184
219  2021-11-05        4      44  1008.281432  14909.712002  4198.350874

* 1. kosdaq 예측
* 2. nasdaq
* 3. sp500
#### 4. dow
* 5. kospi
* 6. 다른 종가

In [ ]:
# setup
ex = setup(train_data, target='dow', ignore_features=['Close','kospi'])