In [1]:
import pandas as pd
from tqdm import tqdm

In [2]:
# 과학적 표기법(Scientific notation)
# pd.set_option('display.float_format', '{:.2e}'.format)

In [3]:
# 판다스 라이브러리에서 과학적 표기 사용 안하기
pd.options.display.float_format = '{:.5f}'.format

# 실제 종가 파일

In [4]:
end = pd.read_csv('20211101_05_end.csv')
end

,Day,005930,000660,035420,035720,207940,005935,051910,006400,005380,...,078020,102710,314130,035890,032620,220630,064260,287410,110790,099320
0,2021-11-01,69900,106500,408500,125500,874000,65200,832000,723000,208000,...,9030,28950,36600,1845,8050,4930,8970,7480,41600,50300
1,2021-11-02,71500,107500,410000,128000,874000,66200,831000,731000,210000,...,9060,29150,38000,1875,8090,4965,9050,7430,41650,49950
2,2021-11-03,70400,105500,402500,124500,874000,66200,784000,732000,208500,...,9040,29000,38650,1830,7900,4980,9080,7110,42000,48850
3,2021-11-04,70600,106000,411500,130000,865000,66600,790000,751000,214000,...,9020,28750,39750,1815,7870,4975,8100,6990,42100,47350
4,2021-11-05,70200,107000,410500,128500,864000,66300,786000,755000,215000,...,8940,28650,38400,1800,7670,5010,8480,6780,41850,45550

# 예측 파일(제출 파일)

In [5]:
pred = pd.read_csv('../03_모델_선정/결과파일/prac4w_pred1w_rate_cat.csv')

In [6]:
pred

,Date,000060,000080,000100,000120,000150,000240,000250,000270,000660,...,330860,336260,336370,347860,348150,348210,352820,357780,363280,950130
0,2021-11-01,27709.18571,34890.53728,59893.52573,142266.54418,103138.17030,16753.52598,47333.37024,85490.99727,102931.50000,...,49177.96401,52755.45661,85549.39125,36619.59024,25968.80574,53169.07837,340426.96159,259883.98788,27039.98803,16841.05505
1,2021-11-02,28047.74371,35309.63749,60236.47208,146127.35767,102914.19504,16670.00845,49932.05636,84750.57036,107084.42721,...,48193.46058,52255.16010,81241.46329,36994.21677,25676.91632,52181.97814,360469.72164,262623.38735,26956.17213,17664.54381
2,2021-11-03,29232.50422,35206.47169,61853.61669,148729.44524,106442.23070,17322.38959,49260.99221,86042.87698,108147.19084,...,51256.29041,54728.12536,82127.12146,36322.30790,26180.67632,53483.91910,349423.44940,261477.40619,27028.22184,18844.69048
3,2021-11-04,30521.37775,34266.60862,61817.54145,146452.33275,110863.64626,17179.13623,51015.90670,85586.76774,106133.69441,...,49537.69177,54915.58375,82593.74291,34684.09192,25290.66331,50739.23353,350681.48763,251464.70572,26544.14227,18518.86393
4,2021-11-05,29074.22097,33667.71307,60757.36109,144362.83909,129464.02781,17775.06745,50531.51284,86944.86349,105932.24533,...,48165.03682,54275.52732,82396.87956,35557.92220,25464.01171,50418.60709,355427.94017,250036.65596,26079.24016,17960.42727

# 예측 셋 중 public 평가 셋 만 가져오기

In [7]:
pred1 = pred.loc[:4]
pred1

,Date,000060,000080,000100,000120,000150,000240,000250,000270,000660,...,330860,336260,336370,347860,348150,348210,352820,357780,363280,950130
0,2021-11-01,27709.18571,34890.53728,59893.52573,142266.54418,103138.17030,16753.52598,47333.37024,85490.99727,102931.50000,...,49177.96401,52755.45661,85549.39125,36619.59024,25968.80574,53169.07837,340426.96159,259883.98788,27039.98803,16841.05505
1,2021-11-02,28047.74371,35309.63749,60236.47208,146127.35767,102914.19504,16670.00845,49932.05636,84750.57036,107084.42721,...,48193.46058,52255.16010,81241.46329,36994.21677,25676.91632,52181.97814,360469.72164,262623.38735,26956.17213,17664.54381
2,2021-11-03,29232.50422,35206.47169,61853.61669,148729.44524,106442.23070,17322.38959,49260.99221,86042.87698,108147.19084,...,51256.29041,54728.12536,82127.12146,36322.30790,26180.67632,53483.91910,349423.44940,261477.40619,27028.22184,18844.69048
3,2021-11-04,30521.37775,34266.60862,61817.54145,146452.33275,110863.64626,17179.13623,51015.90670,85586.76774,106133.69441,...,49537.69177,54915.58375,82593.74291,34684.09192,25290.66331,50739.23353,350681.48763,251464.70572,26544.14227,18518.86393
4,2021-11-05,29074.22097,33667.71307,60757.36109,144362.83909,129464.02781,17775.06745,50531.51284,86944.86349,105932.24533,...,48165.03682,54275.52732,82396.87956,35557.92220,25464.01171,50418.60709,355427.94017,250036.65596,26079.24016,17960.42727

# 평가지표 함수화

In [8]:
def evaluation_index(prediction_set, real_set):
    eval_set = pd.DataFrame(['MSE','RMSE','R2','NMAE','NMAE*100'], columns=['평가지표'])
    for code in tqdm(end.columns.values[1:]):
        one_eval_list = []
        real = real_set[code]
        pred = prediction_set[code]

        # MSE
        mse = ( (real - pred) ** 2 ).sum() / len(pred)
            
        # RMSE
        rmse = mse ** (1/2)
        
        # MAE
        mae = ( abs( real - pred ) ).sum() / len(pred)
        
        # R2
        real_mean = real.mean()
        upper = ( (real - pred) ** 2 ).sum()
        lower = ( (real - real_mean) ** 2 ).sum()
        if lower == 0:
            fraction = 0
        else:
            fraction = upper / lower
        r2 = 1 - fraction
        
        #NMAE(Normalized Mean Absolute Error)-정규화 평균 절대 오차 척도
        nmae = ( abs( real - pred ) / real ).sum() / len(pred)  
        
        # 평가지표 셋 만들기
        one_eval_list.append(mse)
        one_eval_list.append(rmse)
        one_eval_list.append(r2)
        one_eval_list.append(nmae)
        one_eval_list.append(nmae*100)
        eval_set[code] = one_eval_list

    # 평가지표 셋에서 전체 종목 평균 구하기
    eval_set['평가지표_평균'] = eval_set.mean(axis=1)

    # 평가지표 평균 출력
    print(eval_set[['평가지표', '평가지표_평균']])

    return eval_set

In [9]:
result = evaluation_index(pred1, end)

100%|██████████| 370/370 [00:01<00:00, 190.64it/s]

       평가지표         평가지표_평균
0       MSE 192457420.16842
1      RMSE      2559.61566
2        R2        -3.94743
3      NMAE         0.02007
4  NMAE*100         2.00692

In [28]:
result

,평가지표,005930,000660,035420,035720,207940,005935,051910,006400,005380,...,102710,314130,035890,032620,220630,064260,287410,110790,099320,평가지표_평균
0,MSE,130834598.22759,19637714.86734,2068714387.87442,32233338.48085,1695526163.58394,58536420.37060,1054713617.61799,4474919420.65323,927186412.20659,...,11979825.16177,38552800.97826,102853478.38877,31459736.35245,162179574.16971,95751599.98007,39495490.46796,111635780.45619,26184426.40997,347501137.09837
1,RMSE,11438.29525,4431.44614,45483.12201,5677.44119,41176.76728,7650.90977,32476.35475,66894.83852,30449.73583,...,3461.18840,6209.09019,10141.67039,5608.89796,12734.97445,9785.27465,6284.54378,10565.78348,5117.07205,13665.43575
2,R2,-444.62193,-38.27543,-201.02289,-6.93925,-76.91940,-260.32331,-1.16912,-28.16397,-111.52262,...,-373.36954,-35.97756,-154433.65224,-1414.57489,-243511.87413,-644.46999,-561.48562,-2983.91392,-7.47941,-26873.13613
3,NMAE,0.15508,0.03660,0.11118,0.04090,0.04538,0.10840,0.03226,0.08739,0.14324,...,0.11655,0.15896,5.48362,0.68505,2.54105,1.09877,0.87040,0.24569,0.10128,0.53778
4,NMAE*100,15.50827,3.66008,11.11805,4.08986,4.53772,10.84005,3.22567,8.73857,14.32394,...,11.65520,15.89618,548.36214,68.50514,254.10520,109.87714,87.03995,24.56905,10.12794,53.77794