In [1]:
import pandas as pd
from tqdm import tqdm

In [2]:
# 과학적 표기법(Scientific notation)
# pd.set_option('display.float_format', '{:.2e}'.format)

In [3]:
# 판다스 라이브러리에서 과학적 표기 사용 안하기
pd.options.display.float_format = '{:.5f}'.format

# 실제 종가 파일

In [4]:
end = pd.read_csv('20211101_05_end.csv')
end

,Day,005930,000660,035420,035720,207940,005935,051910,006400,005380,...,078020,102710,314130,035890,032620,220630,064260,287410,110790,099320
0,2021-11-01,69900,106500,408500,125500,874000,65200,832000,723000,208000,...,9030,28950,36600,1845,8050,4930,8970,7480,41600,50300
1,2021-11-02,71500,107500,410000,128000,874000,66200,831000,731000,210000,...,9060,29150,38000,1875,8090,4965,9050,7430,41650,49950
2,2021-11-03,70400,105500,402500,124500,874000,66200,784000,732000,208500,...,9040,29000,38650,1830,7900,4980,9080,7110,42000,48850
3,2021-11-04,70600,106000,411500,130000,865000,66600,790000,751000,214000,...,9020,28750,39750,1815,7870,4975,8100,6990,42100,47350
4,2021-11-05,70200,107000,410500,128500,864000,66300,786000,755000,215000,...,8940,28650,38400,1800,7670,5010,8480,6780,41850,45550

# 예측 파일(제출 파일)

In [5]:
pred = pd.read_csv('../03_모델_선정/결과파일/prac4w_pred1w_rate_cat2.csv')

In [6]:
pred

,Date,000060,000080,000100,000120,000150,000240,000250,000270,000660,...,330860,336260,336370,347860,348150,348210,352820,357780,363280,950130
0,2021-11-01,27764.49913,34758.54298,59756.05800,141503.51161,102950.98913,16740.45247,47374.40025,85399.73959,103192.23564,...,49061.40187,51936.69898,85278.08113,36232.42420,25923.40909,52931.49712,339129.54090,259748.73305,26927.60827,16813.08558
1,2021-11-02,27672.77348,34599.20230,59516.53211,140796.41613,102184.71526,16703.99153,47726.74596,85155.31039,103625.27162,...,49113.56062,52898.13532,85898.99033,36309.73936,25921.62335,52819.41757,341346.30765,260194.23930,26919.02975,17183.99047
2,2021-11-03,27835.04682,34807.58394,59899.06508,141585.54966,101635.37946,16679.46120,48150.66186,85373.73105,104499.14178,...,49680.64036,53155.75986,87165.51508,37012.26281,26145.01570,53132.30280,340985.05824,260957.60607,26627.32099,17295.82004
3,2021-11-04,28500.79838,34901.77940,60829.80299,144155.14213,103181.01348,16787.22196,48375.35528,85918.69226,105464.42987,...,50120.62492,53711.96056,88036.14730,37190.07844,25888.02483,52640.62415,345355.61866,259319.69141,26534.92610,17370.75971
4,2021-11-05,28576.32203,35036.21719,61068.68887,144841.29667,104036.86330,16930.14913,48431.32357,86642.15290,106424.04296,...,50303.63303,54248.38100,88014.89118,38564.56886,26080.44554,52962.51302,341376.95821,259466.59931,26347.99709,18024.58067

# 예측 셋 중 public 평가 셋 만 가져오기

In [7]:
pred1 = pred.loc[:4]
pred1

,Date,000060,000080,000100,000120,000150,000240,000250,000270,000660,...,330860,336260,336370,347860,348150,348210,352820,357780,363280,950130
0,2021-11-01,27764.49913,34758.54298,59756.05800,141503.51161,102950.98913,16740.45247,47374.40025,85399.73959,103192.23564,...,49061.40187,51936.69898,85278.08113,36232.42420,25923.40909,52931.49712,339129.54090,259748.73305,26927.60827,16813.08558
1,2021-11-02,27672.77348,34599.20230,59516.53211,140796.41613,102184.71526,16703.99153,47726.74596,85155.31039,103625.27162,...,49113.56062,52898.13532,85898.99033,36309.73936,25921.62335,52819.41757,341346.30765,260194.23930,26919.02975,17183.99047
2,2021-11-03,27835.04682,34807.58394,59899.06508,141585.54966,101635.37946,16679.46120,48150.66186,85373.73105,104499.14178,...,49680.64036,53155.75986,87165.51508,37012.26281,26145.01570,53132.30280,340985.05824,260957.60607,26627.32099,17295.82004
3,2021-11-04,28500.79838,34901.77940,60829.80299,144155.14213,103181.01348,16787.22196,48375.35528,85918.69226,105464.42987,...,50120.62492,53711.96056,88036.14730,37190.07844,25888.02483,52640.62415,345355.61866,259319.69141,26534.92610,17370.75971
4,2021-11-05,28576.32203,35036.21719,61068.68887,144841.29667,104036.86330,16930.14913,48431.32357,86642.15290,106424.04296,...,50303.63303,54248.38100,88014.89118,38564.56886,26080.44554,52962.51302,341376.95821,259466.59931,26347.99709,18024.58067

# 평가지표 함수화

In [8]:
def evaluation_index(prediction_set, real_set):
    eval_set = pd.DataFrame(['MSE','RMSE','R2','NMAE','NMAE*100'], columns=['평가지표'])
    for code in tqdm(end.columns.values[1:]):
        one_eval_list = []
        real = real_set[code]
        pred = prediction_set[code]

        # MSE
        mse = ( (real - pred) ** 2 ).sum() / len(pred)
            
        # RMSE
        rmse = mse ** (1/2)
        
        # MAE
        mae = ( abs( real - pred ) ).sum() / len(pred)
        
        # R2
        real_mean = real.mean()
        upper = ( (real - pred) ** 2 ).sum()
        lower = ( (real - real_mean) ** 2 ).sum()
        if lower == 0:
            fraction = 0
        else:
            fraction = upper / lower
        r2 = 1 - fraction
        
        #NMAE(Normalized Mean Absolute Error)-정규화 평균 절대 오차 척도
        nmae = ( abs( real - pred ) / real ).sum() / len(pred)  
        
        # 평가지표 셋 만들기
        one_eval_list.append(mse)
        one_eval_list.append(rmse)
        one_eval_list.append(r2)
        one_eval_list.append(nmae)
        one_eval_list.append(nmae*100)
        eval_set[code] = one_eval_list

    # 평가지표 셋에서 전체 종목 평균 구하기
    eval_set['평가지표_평균'] = eval_set.mean(axis=1)

    # 평가지표 평균 출력
    print(eval_set[['평가지표', '평가지표_평균']])

    return eval_set

In [9]:
result = evaluation_index(pred1, end)

100%|███████████████████████████████████████████████████████████████████████████████| 370/370 [00:00<00:00, 375.12it/s]

       평가지표         평가지표_평균
0       MSE 225766045.36433
1      RMSE      3755.43472
2        R2       -24.88873
3      NMAE         0.03229
4  NMAE*100         3.22868

In [10]:
result

,평가지표,005930,000660,035420,035720,207940,005935,051910,006400,005380,...,102710,314130,035890,032620,220630,064260,287410,110790,099320,평가지표_평균
0,MSE,1267577.00762,5515020.83630,13850506.68616,7520765.59828,148496083.14783,5358609.69471,1227549354.94787,62670286.88848,16626058.54289,...,38758.32647,1090245.13413,4441.25446,39910.10901,1736.19209,301397.32324,109199.89904,1261131.32494,3835798.65624,225766045.36433
1,RMSE,1125.86722,2348.40815,3721.62689,2742.40143,12185.89690,2314.86710,35036.40043,7916.45671,4077.50641,...,196.87134,1044.14804,66.64274,199.77515,41.66764,548.99665,330.45408,1123.00104,1958.51951,3755.43472
2,R2,-3.31736,-10.03004,-0.35259,-0.85241,-5.82427,-22.92236,-1.52458,0.59156,-1.01773,...,-0.21120,-0.04570,-5.66855,-0.79581,-1.60690,-1.03175,-0.55520,-32.72009,-0.24216,-24.88873
3,NMAE,0.01278,0.01740,0.00869,0.01741,0.01071,0.03426,0.03584,0.00929,0.01587,...,0.00546,0.02441,0.03041,0.02229,0.00773,0.06065,0.04355,0.02583,0.03051,0.03229
4,NMAE*100,1.27779,1.74050,0.86922,1.74070,1.07077,3.42643,3.58414,0.92924,1.58682,...,0.54570,2.44073,3.04070,2.22859,0.77291,6.06471,4.35518,2.58274,3.05139,3.22868