In [2]:
import pandas as pd
from tqdm import tqdm

In [3]:
# 과학적 표기법(Scientific notation)
# pd.set_option('display.float_format', '{:.2e}'.format)

In [4]:
# 판다스 라이브러리에서 과학적 표기 사용 안하기
pd.options.display.float_format = '{:.5f}'.format

# 실제 종가 파일

In [5]:
end = pd.read_csv('20211101_05_end.csv')
end

,Day,005930,000660,035420,035720,207940,005935,051910,006400,005380,...,078020,102710,314130,035890,032620,220630,064260,287410,110790,099320
0,2021-11-01,69900,106500,408500,125500,874000,65200,832000,723000,208000,...,9030,28950,36600,1845,8050,4930,8970,7480,41600,50300
1,2021-11-02,71500,107500,410000,128000,874000,66200,831000,731000,210000,...,9060,29150,38000,1875,8090,4965,9050,7430,41650,49950
2,2021-11-03,70400,105500,402500,124500,874000,66200,784000,732000,208500,...,9040,29000,38650,1830,7900,4980,9080,7110,42000,48850
3,2021-11-04,70600,106000,411500,130000,865000,66600,790000,751000,214000,...,9020,28750,39750,1815,7870,4975,8100,6990,42100,47350
4,2021-11-05,70200,107000,410500,128500,864000,66300,786000,755000,215000,...,8940,28650,38400,1800,7670,5010,8480,6780,41850,45550

# 예측 파일(제출 파일)

In [7]:
pred = pd.read_csv('제출파일/sub05_pycaret04.csv')

In [6]:
pred

,Day,000060,000080,000100,000120,000150,000240,000250,000270,000660,...,330860,336260,336370,347860,348150,348210,352820,357780,363280,950130
0,2021-11-01,29321.42857,34694.98616,60131.58594,148333.28857,96220.00000,16547.05327,43623.76953,84045.00000,97899.39844,...,46813.93359,51792.33115,82897.00000,31118.50000,26966.28207,51990.17319,310396.29666,259076.00000,27584.55859,16264.89160
1,2021-11-02,29388.88889,34634.39902,60173.57031,148333.26543,96220.00000,16536.18059,44182.60547,83974.00000,98134.49219,...,46881.31641,51834.24314,82285.00000,31113.50000,26829.50923,51960.99697,310663.57267,259106.00000,27647.97266,16229.89258
2,2021-11-03,29408.33333,34663.65377,60087.63281,148333.35676,95550.00000,16532.99255,44538.83984,84002.00000,97728.25781,...,46542.95703,51423.56584,82200.00000,31050.50000,26585.26013,51960.99697,309595.18217,258221.00000,27646.86328,16220.25098
3,2021-11-04,29115.00000,34703.72634,60241.86719,148333.24053,97825.00000,16524.89413,45735.21484,84007.00000,97940.63281,...,46708.01953,51910.30701,82154.00000,31158.00000,26848.63954,51809.51438,310981.19114,258558.00000,27693.59766,16257.00879
4,2021-11-05,29200.00000,34645.90375,60140.98438,148333.23120,96400.00000,16902.14636,45178.55859,83827.00000,98208.57031,...,46850.34766,51329.99147,82331.00000,32383.00000,26989.30301,51960.64055,311033.89904,258872.00000,27633.30664,16382.97461
5,2021-11-29,27781.17188,34313.30469,60223.71484,144002.25000,103000.00000,17161.50736,49089.73596,84971.34375,107225.00000,...,48311.00000,52002.00000,84296.68750,36863.88281,25345.54883,51862.72361,355183.50000,250443.87500,26770.50000,17019.24219
6,2021-11-30,28762.17188,34212.11719,61085.78516,145872.68750,131500.00000,17312.69777,48951.86600,86402.01562,108755.00000,...,49557.00000,53893.00000,84656.03125,36767.59375,25830.41211,52354.29552,364282.25000,254265.37500,26079.50000,17525.36719
7,2021-12-01,27479.40625,34265.20703,60257.26562,143686.84375,103000.00000,17143.85102,49018.39560,84792.73438,107815.00000,...,48586.00000,52198.00000,84567.12500,38072.69531,25360.65820,51991.72978,359055.00000,251070.68750,26847.00000,17153.66406
8,2021-12-02,27716.70312,33949.11328,60278.41406,143415.09375,103000.00000,16980.55846,48438.73706,84829.39062,107460.00000,...,48863.00000,51579.00000,86506.25000,37554.81250,25286.95508,52595.59698,353560.25000,250508.37500,27067.50000,16941.92188
9,2021-12-03,27262.41406,34035.66797,60155.34766,142881.32812,103000.00000,16953.97329,48341.55132,84736.75000,106360.00000,...,48797.50000,52115.00000,88335.15625,37355.08594,25168.23438,52689.30554,357342.75000,251549.56250,27093.00000,16933.70703

# 예측 셋 중 public 평가 셋 만 가져오기

In [7]:
pred1 = pred.loc[:4]
pred1

,Day,000060,000080,000100,000120,000150,000240,000250,000270,000660,...,330860,336260,336370,347860,348150,348210,352820,357780,363280,950130
0,2021-11-01,29321.42857,34694.98616,60131.58594,148333.28857,96220.00000,16547.05327,43623.76953,84045.00000,97899.39844,...,46813.93359,51792.33115,82897.00000,31118.50000,26966.28207,51990.17319,310396.29666,259076.00000,27584.55859,16264.89160
1,2021-11-02,29388.88889,34634.39902,60173.57031,148333.26543,96220.00000,16536.18059,44182.60547,83974.00000,98134.49219,...,46881.31641,51834.24314,82285.00000,31113.50000,26829.50923,51960.99697,310663.57267,259106.00000,27647.97266,16229.89258
2,2021-11-03,29408.33333,34663.65377,60087.63281,148333.35676,95550.00000,16532.99255,44538.83984,84002.00000,97728.25781,...,46542.95703,51423.56584,82200.00000,31050.50000,26585.26013,51960.99697,309595.18217,258221.00000,27646.86328,16220.25098
3,2021-11-04,29115.00000,34703.72634,60241.86719,148333.24053,97825.00000,16524.89413,45735.21484,84007.00000,97940.63281,...,46708.01953,51910.30701,82154.00000,31158.00000,26848.63954,51809.51438,310981.19114,258558.00000,27693.59766,16257.00879
4,2021-11-05,29200.00000,34645.90375,60140.98438,148333.23120,96400.00000,16902.14636,45178.55859,83827.00000,98208.57031,...,46850.34766,51329.99147,82331.00000,32383.00000,26989.30301,51960.64055,311033.89904,258872.00000,27633.30664,16382.97461

# 평가지표 함수화

In [8]:
def evaluation_index(prediction_set, real_set):
    eval_set = pd.DataFrame(['MSE','RMSE','R2','NMAE','NMAE*100'], columns=['평가지표'])
    for code in tqdm(end.columns.values[1:]):
        one_eval_list = []
        real = real_set[code]
        pred = prediction_set[code]

        # MSE
        mse = ( (real - pred) ** 2 ).sum() / len(pred)
            
        # RMSE
        rmse = mse ** (1/2)
        
        # MAE
        mae = ( abs( real - pred ) ).sum() / len(pred)
        
        # R2
        real_mean = real.mean()
        upper = ( (real - pred) ** 2 ).sum()
        lower = ( (real - real_mean) ** 2 ).sum()
        if lower == 0:
            fraction = 0
        else:
            fraction = upper / lower
        r2 = 1 - fraction
        
        #NMAE(Normalized Mean Absolute Error)-정규화 평균 절대 오차 척도
        nmae = ( abs( real - pred ) / real ).sum() / len(pred)  
        
        # 평가지표 셋 만들기
        one_eval_list.append(mse)
        one_eval_list.append(rmse)
        one_eval_list.append(r2)
        one_eval_list.append(nmae)
        one_eval_list.append(nmae*100)
        eval_set[code] = one_eval_list

    # 평가지표 셋에서 전체 종목 평균 구하기
    eval_set['평가지표_평균'] = eval_set.mean(axis=1)

    # 평가지표 평균 출력
    print(eval_set[['평가지표', '평가지표_평균']])

    return eval_set

In [9]:
result = evaluation_index(pred1, end)

100%|███████████████████████████████████████████████████████████████████████████████| 370/370 [00:01<00:00, 365.15it/s]

       평가지표         평가지표_평균
0       MSE 133733195.84905
1      RMSE      5456.63261
2        R2       -28.20654
3      NMAE         0.05728
4  NMAE*100         5.72819

In [10]:
result

,평가지표,005930,000660,035420,035720,207940,005935,051910,006400,005380,...,102710,314130,035890,032620,220630,064260,287410,110790,099320,평가지표_평균
0,MSE,1511938.40000,72865139.17301,151551995.00000,37700000.00000,122200000.00000,3618810.80000,1323938204.37344,1566631560.00000,11996925.21809,...,32324.65000,4404611.35000,743.58632,213295.85000,34898.39550,7043593.36800,70540.00000,1667347.45000,37129800.84299,133733195.84905
1,RMSE,1229.60904,8536.10796,12310.64560,6140.03257,11054.41088,1902.31722,36385.96164,39580.69681,3463.65778,...,179.79057,2098.71660,27.26878,461.83964,186.81112,2653.97690,265.59367,1291.25809,6093.42275,5456.63261
2,R2,-4.14965,-144.73028,-13.80000,-8.28571,-4.61581,-15.15541,-1.72281,-9.21006,-0.45594,...,-0.01015,-3.22464,-0.11650,-8.59755,-51.39999,-46.48148,-0.00461,-43.58148,-11.02390,-28.20654
3,NMAE,0.01649,0.07995,0.02934,0.04532,0.01170,0.02808,0.04010,0.05107,0.01316,...,0.00528,0.04778,0.01272,0.05477,0.03454,0.29907,0.03265,0.03045,0.12246,0.05728
4,NMAE*100,1.64882,7.99477,2.93374,4.53219,1.16980,2.80794,4.00991,5.10728,1.31635,...,0.52756,4.77837,1.27163,5.47670,3.45374,29.90707,3.26523,3.04516,12.24607,5.72819